NEXT_PUBLIC_POSTHOG_KEY=phc_pHLNHdMFLeR9Xra5asPuTvSQna4s3pxoLq7PPp6jFyy9
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
ADMIN_TOKEN=change-this-admin-token
ADMIN_SESSION_SECRET=change-this-session-secret
